<!doctype html>
<html lang="eng" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>
  </head>
  <body>
  	<section class="banner d-flex justify-content-center align-items-center">
  		<div class="text-center text-white">
  			<h1>Smart Contact Manager</h1>
  			<p>HELLO HI HELLO HI HELLO HI HELLO HI
  			HELLO HI HELLO HI HELLO HI HELLO HI</p>
  			<button class="btn bg-primary">Get Start</button>
  		</div>
  	</section>
  </body>
</html>